[submodule "reader/reader"]
	path = reader/reader
	url = https://github.com/miaopas/obsidian-zotero-reader.git
[submodule "note-editor"]
	path = note-editor/note-editor
	url = git@github.com:duanxianpi/note-editor.git
